[Unit]
Description=Server
Documentation=https://caddyserver.com/docs/
After=network.target

[Service]
Type=simple
ExecStart=node server.js
Restart=on-failure
TimeoutStopSec=5s
LimitNOFILE=1048576
PrivateTmp=true
ProtectSystem=full
UMask=0

[Install]
WantedBy=default.target
